# TURN/STUN
TURN_REST_SECRET=your_secret_here
TURN_SERVER_STUN_URL=stun:yourdomain:3478
TURN_SERVER_URL=turn:yourdomain:3478
TURN_CRED_EXPIRY_SECONDS=3600
# Node
PORT=3001
HOST=127.0.0.1
# CORS
CORS_ORIGIN=https://yourdomain.com